/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/images
/public/frontend
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
.env
storage/debugbar
database/seeds/DevPermissionTableSeeder.php
