/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/admission
/public/images
.vcode
.env
.idea/
bootstrap/cache/
node_modules/
public/css/theme.css
public/css/vendor.css
public/fonts/icomoon.eot
public/fonts/icomoon.svg
public/fonts/icomoon.ttf
public/fonts/icomoon.woff
public/fonts/vendor/
public/js/app.js
public/js/demo.js
public/js/manifest.js
public/js/theme.js
public/js/vendor.js
public/mix-manifest.json
storage/
