.hrclass {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2fa4e7;
    margin: 1em 0;
    padding: 0;
}
.iname{
  margin-left: 10px;
  font-weight: bold;
  color: #fff;
}
